<header>
  <p>
    <a href="/">Home</a>
  </p>
  <p><a href="/users/profile/<%=locals.user.id%>">Profile</a></p>
  <p><a href="/users/signin">Signin</a></p>
  <p><a href="/users/signout">Signout</a></p>
  <p><a href="/users/signup">Signup</a></p>
</header>
