#new-post-form {
  textarea {
    resize: none;
    border: none;
    border-radius: 11px;
  }

  #btn {
    background-color: white;
    border: none;
    font-size: 1.2rem;
    position: relative;
    top: -15px;
    margin-left: 10px;
  }
}

#feed-posts {
  display: inline-block;
}
#user-friends {
  display: inline-block;
  border-left: 2px solid black;
  margin-left: 50%;
}
